<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
    <suite name="All Test Suite">
        <test verbose="2" preserve-order="true" name="C:/Users/Sharvari Mehta/IdeaProjects/API_Automation_Framework_REST-Assured">
            <classes>
                <class name="org.RestAssured_test.tests.sample.TestIntegration_sample">
                    <methods>
                        <include name="testCreateBooking"/>
                        <include name="verifyCreateBooking"/>
                        <include name="updateCreateBooking"/>
                        <include name="deleteCreateBooking"/>
                    </methods>
                </class>
            </classes>
        </test>
</suite>